openapi: "3.0.0"
info:
  version: "{VERSION}"
  title: Identity Service API
  description: |
    ## Overview
    Use this API to access the OAuth capabilities of the Identity Service
    
    You can:
    * Get authorization code
    * Exchange authorization code for access token

    You cannot currently use this API to:
    * Request user information

    You can access the following data:
    - TODO

    ## Related APIs
    
    ## API status and roadmap
    TODO
    
    The following items are on our roadmap, in rough priority order:
    - TODO
    
    We are extremely keen to receive feedback on the API during alpha and beta,
    for example if there are data fields missing that you think you need.
    Please [get in touch](/help-and-support) with any comments or suggestions.

    ## Technology
    This API is [RESTful](/introduction-to-apis#basic-rest).

    It also conforms to the [FHIR](/introduction-to-apis#fhir) global standard for health care data exchange.
    Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4.

    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.
    In particular:
    - resource names are capitalised and singular, for example the `/Patient` not `/patients`
    - array names are singular, for example `line` not `lines` for address lines
    - data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    This API is available on the Internet, although access using NHS smartcards (see below)
    currently requires a connection to the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    ## Authorisation
    TODO
    
    ## Testing
    You can test this API in:
    * our [sandbox environment](/testing#sandbox-testing) for initial developer testing
    * our [integration test environment](/testing#integration-testing) for formal integration testing (coming soon)

    Our sandbox environment is a very basic simulation of the live service. It only covers a limited set of scenarios and is stateless, so does not actually persist any updates.

    For more details on sandbox testing, or to try out the sandbox using our "Try this API" feature, see the documentation for each endpoint.

    Alternatively, you can try out the sandbox using our Postman collection:

    [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/2871d49488699f3f5a67)

    ## Assurance
    We are hoping to make the assurance process as lightweight and as self-service as possible.

    More details to follow.

    ## Endpoints
    To see details for specific endpoints, select from the list on the left hand side of the page:
    * `GET /authorize` - request token or authorization codes via the browser
    * `POST /token` - request or refresh tokens
    TODO: Add /callback and /userinfo enpoints
  contact:
    name: Identity Service API Support
    url: 'https://tbc.api.nhs.net'
    email: tbc-api-support@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/identity-service/oauth2'
    description: Identity sandbox.
tags:
  - name: authorize
  - name: token
paths:
  /authorize:
    get:
      tags:
        - authorize
      summary: Request token or authorization codes via the browser
      operationId: authorize
      description: The Authorization endpoint is used to interact with the resource owner and get the authorization to access the protected resource.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                response_type:
                  type: string
                  enum:
                    - code
                  description: Tells the authorization server which grant to execute
                client_id:
                  type: string
                  description: The id of the application that asks for authorization
                redirect_uri:
                  type: string
                  format: uri
                  description: Holds a URL. A successful response from this endpoint results in a redirect to this URL
                  example: https://example.app.nhs.net
                scope:
                  type: string
                  description: A space-delimited list of permissions that the application requires
                  example: openid
                state:
                  type: string
                  description: |
                    An opaque value, used for security purposes. If this request parameter is set in the request, then it is returned to the application as part of the redirect_uri.

                    Note: The parameter should be used for preventing cross-site request forgery
                  example: d04a38c3-e508-4c43-9918-76c7203c7ade
              required:
                - response_type
                - client_id
      responses:
        '302':
          description: A successful authorization containing a authorization code and redirects to redirect_uri
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  state:
                    type: string
                required:
                  - code
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /token:
    post:
      tags:
        - token
      summary: Obtain an access token
      operationId: token
      description: The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                code:
                  type: string
                  description: The authorization code.
                redirect_uri:
                  type: string
                  format: uri
                  description: The redirect_uri used in the authorization request
                  example: https://example.app.nhs.net
                client_id:
                  type: string
                  description: The id of the application that asks for authorization
                client_secret:
                  type: string
                  description: The application's secret
              required:
                - grant_type
                - code
                - redirect_uri
                - client_id
                - client_secret
      responses:
        '200':
          description: A successful token exchange request
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The access token issued by the authorization server.
                  token_type:
                    type: string
                    description: The type of the token issued.
                  expires_in:
                    type: integer
                    description: The lifetime in seconds of the access token.
                  refresh_token:
                    type: string
                    description: The refresh token, which can be used to obtain new access tokens 
                  scope:
                    type: string
                    description: A space-delimited list of permissions that the application requires
                required:
                  - access_token
                  - token_type
        default:
          description: Token Exchange Error
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: A single ASCII error code
                    enum:
                      - invalid_request
                      - unauthorized_client
                      - access_denied
                      - unsupported_response_type
                      - invalid_scope
                      - server_error
                      - temporarily_unavailable
                  error_description:
                    type: string
                    description: Human-readable ASCII text providing additional information, used to assist the client developer in understanding the error that occurred.
                  error_uri:
                    type: string
                    format: uri
                    example: https://example.app.nhs.net
                required:
                  - error

# Description of common components
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: 'components/schemas/ErrorResponse.yaml'
    Unauthorized: 
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: 'components/schemas/ErrorResponse.yaml'