pyyaml
docopt
jsonpath-rw
semver
gitpython
flake8
black
pip-licenses
jinja2
bandit
autopep8
requests
pytest
pytest-rerunfailures
aiohttp
pytest-asyncio
coverage
pytest-xdist
pytest-sugar
https://github.com/NHSDigital/apim-test-utils/releases/download/v1.1.11-alpha/api_test_utils-1.1.11a0-py3-none-any.whl
python-dotenv

